
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: rgba(183, 188, 245, 0.19) !important;

}

.ant-input-affix-wrapper {
  width:35% !important;
  border: none !important;
  border-right: 1px  solid #405153 !important;
}
